---
layout: default
---

<div class="category-page tramas">

<div class="home-post ">


  <div class="container">
    <div class="fail-message"><span>Estos filtros no dieron resultado.</span></div>
    {% for post in site.posts %}
    <div class="item trama-{{post.category}} trama-{{post.type}} {% if post.featured %}trama-destacada{% endif %}" data-published-date="" style="width: 100%;">
      {% if post.featured %}
      {% if post.type contains 'videoesfera' %}
        <div class="video" style="width: 300px;padding: 15px;">
          <div class="video-wrapper">
              <iframe src="{{post.source}}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      {% endif %}
      {% endif %}

      <div class="content">
        <h3 class="mono-space">
          {% if post.featured %}
            <small>Destacado</small> <br>
          {% endif %}
          {{post.category}} / {{post.type}}
         
        </h3>
        <a href="{{site.baseurl}}{{post.url}}" class="header">
          <span aria-hidden="true" class="post-status"></span>
          {{post.title}} <br>
          <i class="duration">
              {{post.duration}}
              {% if post.type contains 'articulo' %}
                  de lectura
              {% else %}
                  de video
              {% endif %}
          </i>
        </a>
        
        <div class="description">
          {{post.meta}}
        </div>
        <time datetime="">
          <!-- Whitespace added for readability -->
          {% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }}
          {% case m %}
          {% when '1' %}Ene
          {% when '2' %}Feb
          {% when '3' %}Mar
          {% when '4' %}Abr
          {% when '5' %}May
          {% when '6' %}Jun
          {% when '7' %}Jul
          {% when '8' %}Ago
          {% when '9' %}Sep
          {% when '10' %}Oct
          {% when '11' %}Nov
          {% when '12' %}Dic
          {% endcase %}
          {{ post.date | date: "%Y" }}
        </time>
      </div>
    </div>
    {%endfor %}
  </div>
  <aside class="js-menu sliding-panel-content">
    <div class="ui secondary vertical pointing menu">
    <a class="item" href="/uni/feminismo-consciente/">
      <i class="fa fa-venus-mars"></i>
       Feminismo consciente
    </a>
      <a class="item" href="/uni/espiritualidad/">
        <i class="fa fa-sun-o"></i>
        espiritualidad
      </a>
      <a class="item" href="/uni/contracultura/">
        <i class="fa fa-fire"></i>
        contracultura
      </a>
      <a class="item" href="/uni/psiconautica/">
        <i class="fa fa-compass"></i>
        psiconautica
      </a>
      <a class="item" href="/uni/politica/">
        <i class="fa fa-street-view"></i>
        politica
      </a>
      <a class="item" href="/uni/ciencia/">
        <i class="fa fa-flask"></i>
        ciencia
      </a>
      <a class="item" href="/uni/naturaleza/">
        <i class="fa fa-leaf"></i>
        naturaleza
      </a>
    </div>

  </aside>
</div>
</div>

