---
layout: default
---


<div class="home-post" style="padding: 20px;">
  <h2 class="mono-space">Trama completa</h2>
  <div class="controls">
    <button type="button" class="ui button compact large " data-filter="all">
      Todo
    </button>
    <button type="button" class="ui button compact large trama-naturaleza" data-filter=".trama-naturaleza">Naturaleza</button>
    <button type="button" class="ui button compact large trama-ciencia" data-filter=".trama-ciencia">Ciencia</button>
    <button type="button" class="ui button compact large trama-psiconautica" data-filter=".trama-psiconautica">Psiconautica</button>
    <button type="button" class="ui button compact large trama-espiritualidad" data-filter=".trama-espiritualidad">Espiritualidad</button>
    <button type="button" class="ui button compact large trama-contracultura" data-filter=".trama-contracultura">Contracultura</button>
    <button type="button" class="ui button compact large trama-politica" data-filter=".trama-politica">Politica</button>
    <button type="button" class="ui button compact large trama-videoesfera" data-filter=".trama-videoesfera">Videoesfera</button>
    <button type="button" class="ui button compact large trama-articulo" data-filter=".trama-articulo">Articulos</button>
      <button type="button" class="ui button compact large" data-sort="published-date:desc">
    <i class='fa fa-chevron-down'></i>
    </button>
    <button type="button" class="ui button compact large" data-sort="published-date:asc">
    <i class='fa fa-chevron-up'></i>
    </button>
      <button type="button" class="ui button compact large" data-sort="random">Arbitrario</button>
  </div>

  <div class="container">
    <div class="fail-message"><span>Estos filtros no dieron resultado.</span></div>
    {% for post in site.posts %}
    <div class="item mix trama-{{post.category}} trama-{{post.type}}" data-published-date="{{ post.date | %Y-%m-%d %H:%M+01:00 }}">
      <div class="content">
        <h3 class="mono-space">
          {{post.category}} / {{post.type}}
        </h3>
        <a href="{{site.baseurl}}{{post.url}}" class="header">
          <span aria-hidden="true" class="post-status"></span>
          {{post.title}} <br>
          <i class="duration">
              {{post.duration}}
              {% if post.type contains 'articulo' %}
                  de lectura
              {% else %}
                  de video
              {% endif %}
          </i>
        </a>
        
        <div class="description">
          {{post.meta}}
        </div>
        <time datetime="{{ post.date | %Y-%m-%d %H:%M+01:00 }}">
          <!-- Whitespace added for readability -->
          {% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }}
          {% case m %}
          {% when '1' %}Ene
          {% when '2' %}Feb
          {% when '3' %}Mar
          {% when '4' %}Abr
          {% when '5' %}May
          {% when '6' %}Jun
          {% when '7' %}Jul
          {% when '8' %}Ago
          {% when '9' %}Sep
          {% when '10' %}Oct
          {% when '11' %}Nov
          {% when '12' %}Dic
          {% endcase %}
          {{ post.date | date: "%Y" }}
        </time>
      </div>
    </div>
    {%endfor %}
  </div>
  <aside class="js-menu sliding-panel-content" style="left: -250px;">
    <div class="ui secondary vertical pointing menu">
      <a class="item" href="/uni/espiritualidad/">
        <i class="fa fa-sun-o"></i>
        espiritualidad
      </a>
      <a class="item" href="/uni/contracultura/">
        <i class="fa fa-fire"></i>
        contracultura
      </a>
      <a class="item" href="/uni/psiconautica/">
        <i class="fa fa-compass"></i>
        psiconautica
      </a>
      <a class="item" href="/uni/politica/">
        <i class="fa fa-street-view"></i>
        politica
      </a>
      <a class="item" href="/uni/ciencia/">
        <i class="fa fa-flask"></i>
        ciencia
      </a>
      <a class="item" href="/uni/naturaleza/">
        <i class="fa fa-leaf"></i>
        naturaleza
      </a>
    </div>
  </aside>
</div>

{% include footer.html %}
