
.category-page {
	width: 100%;
    padding: 35px 20px 50px 290px;
    -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);

    @include media($ipad) {
    	padding-left: 20px;
        //padding-right: 20px;
    }


    &.tramas {

        padding: 10px 5px 50px 275px;

        @include media($ipad) {
            padding-left: 5px;
            //padding-right: 20px;
        }
        
        .container {
            justify-content: flex-start;

            .item {
                min-width: 48%;
                margin: 1%;
            }
        }

       

        .trama-destacada {
            width: 100% !important;
            .description {
                display: none;
            }

            a span:after {
                left: unset;
                right: 15px;
                bottom: 15px;
            }
        }

        .item.trama-videoesfera {
            
            
            display: flex;
            width: 100%;
            align-items: flex-start;
            border: 1px solid;
            flex-direction: row-reverse;

            @include media($ivertical) {
                flex-direction: column;
            }

            .content {
                flex: 1;
                border: none;

                @include media($ivertical) {
                    width: 100%;
                }
                
            }

           
            
            .video {
                width: 304px;
                padding: 0;

                @include media($ivertical) {
                    width: 100%;padding: 0;
                }

                .video-wrapper {
                    margin: 0;
                }
                
            }
        }
    }
}

.header-actions {
	//display: flex;
    align-items: center;

    @include media($ivertical) {
    	flex-direction: column;
    	flex-wrap:wrap;
    }

    h3 {
        min-width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid #ddd;

        @include media($mobile) {
             font-size: 20px;
        }

        span {
            font-size: 18px;
            font-weight: 600;
        }

    }

    .controls {
    	flex: 1;
    	text-align: right;
    	padding: 0;

        @include media($ivertical) {
            width: 100%;

             span {
                display: none;
            }
        }

        .fa {
            margin-right: 5px;
        }

    }




}