
  {% for post in site.posts %}
    {% if post.category == include.category %}
    <div class="item mix trama-{{post.category}} trama-{{post.type}} {% if post.featured %}trama-destacada{% endif %}" data-published-date="{{ post.date | %Y-%m-%d %H:%M+01:00 }}">
      <div class="content">
        <h3 class="mono-space">
          {{post.category}} / {{post.type}}
        </h3>
        <a href="{{site.baseurl}}{{post.url}}" class="header">
          <span aria-hidden="true" class="post-status"></span>
          {{post.title}} <br>
          <i class="duration">
              {{post.duration}}
              {% if post.type contains 'articulo' %}
                  de lectura
              {% else %}
                  de video
              {% endif %}
          </i>
        </a>
        
        <div class="description">
          {{post.meta}}
        </div>
      </div>
    </div>
    {% endif %}
  {%endfor %}

