
  {% for post in site.posts %}
    {% if post.category == include.category %}
   <div class="item mix categoria-{{post.category}}">
        <div class="content">
          <h3 class="bahiana">
            {{post.type}}
          </h3>
          <i class="duration">{{post.duration}}</i>
          <a href="{{site.baseurl}}{{post.url}}" class="header">{{post.title}}</a>

          <div class="description">
            {{post.meta}}
          </div>
        </div>
      </div>
    {% endif %}
  {%endfor %}

