
<footer class="footer" role="contentinfo">
  <div class="footer-logo">
  {% include logo.html %}
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Categorias</h3></li>
      <li><a href="/uni/espiritualidad/">Espiritualidad</a></li>
      <li><a href="/uni/contracultura/">Contracultura</a></li>
      <li><a href="/uni/psiconautica/">psiconautica</a></li>
      <li><a href="/uni/politica/">Politica</a></li>
      <li><a href="/uni/ciencia/">Ciencia</a></li>
      <li><a href="/uni/naturaleza/">Naturaleza</a></li>
    </ul>
    <ul>
      <li><h3>No nos sigas en:</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
  </div>

  <hr>

  <p>En casi todas las épocas y en casi todos los páises, han existido personas que se agruparon con el propósito de realizar transformaciones deseables, con la intención de labrar una vida superior para su comunidad. </p>

  <p>

Estos grupos de individuos consagrados a fines superiores han desempeñado un papel muy importante en el mantenimiento y en el progreso de la civilización y desempeñan un papel no menos importante para el futuro.</p>
</footer>