
<footer class="footer" role="contentinfo">
  <div class="footer-logo">
  {% include logo.html %}
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Categorias</h3></li>
      <li><a href="/uni/espiritualidad/">Espiritualidad</a></li>
      <li><a href="/uni/contracultura/">Contracultura</a></li>
      <li><a href="/uni/psiconautica/">Psiconautica</a></li>
      <li><a href="/uni/politica/">Politica</a></li>
      <li><a href="/uni/ciencia/">Ciencia</a></li>
      <li><a href="/uni/naturaleza/">Naturaleza</a></li>
    </ul>
    <ul>
      <li><h3>No nos sigas en:</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
  </div>

  <hr>

  <p class="bahiana">Lo que eres basicamente, muy en lo profundo y distante,
es simplemente el tejido y la estructura de la existencia misma.</p>
</footer>