<div class="controls">
    <button type="button" class="ui button compact large " data-filter="all">
      Todo
    </button>
    <button type="button" class="ui button compact large trama-naturaleza" data-filter=".trama-naturaleza">Naturaleza</button>
    <button type="button" class="ui button compact large trama-ciencia" data-filter=".trama-ciencia">Ciencia</button>
    <button type="button" class="ui button compact large trama-psiconautica" data-filter=".trama-psiconautica">Psiconautica</button>
    <button type="button" class="ui button compact large trama-espiritualidad" data-filter=".trama-espiritualidad">Espiritualidad</button>
    <button type="button" class="ui button compact large trama-contracultura" data-filter=".trama-contracultura">Contracultura</button>
    <button type="button" class="ui button compact large trama-politica" data-filter=".trama-politica">Politica</button>
    <button type="button" class="ui button compact large trama-videoesfera" data-filter=".trama-videoesfera">Videoesfera</button>
    <button type="button" class="ui button compact large trama-articulo" data-filter=".trama-articulo">Articulos</button>
    <button type="button" class="ui button compact large" data-sort="random">Arbitrario</button>
<button type="button" class="ui button compact large" data-sort="published-date:desc">
<i class='fa fa-chevron-down'></i>
</button>
<button type="button" class="ui button compact large" data-sort="published-date:asc">
<i class='fa fa-chevron-up'></i>
</button>
  </div>