<div class="top-bar">
	{% include logo.html %}
	<button type="button" class="bahiana js-menu-trigger sliding-panel-button" style="background: none; border: none; font-size: 50px; transform: rotate(90deg);">
       III
    </button>
	<nav>
    <a href="/uni/espiritualidad/">Categorias</a>
    <a href="/uni/tramas/">Trama completa</a>
	</nav>
    <form class="nav-search mono-space" action="/uni/search" method="get">
      <input type="text" id="search-box" name="query" placeholder="Buscar...">
      <input class="ui button tiny compact blue" type="submit" value="Buscar">
    </form>
	<!-- Place this tag where you want the button to render. -->
	<div class="github-ama">
		<span>
			Código abierto
		</span>
		<a class="github-button" href="https://github.com/ama-trama/uni" data-count-href="/ama-trama/uni/stargazers" data-count-api="/repos/ama-trama/uni#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ama-trama/uni on GitHub">Star</a>
	</div>
</div>