<div class="top-bar">
	{% include logo.html %}
	<button type="button" class="bahiana js-menu-trigger sliding-panel-button" style="background: none; border: none; font-size: 50px; transform: rotate(90deg);">
       III
    </button>
	<nav>
    <a href="/uni/tramas/"><i class="fa fa-sitemap"></i> explorar tramas</a>
	</nav>



	<div class="change-theme ui slider checkbox" style="width: 120px;">
	  <input type="checkbox" name="newsletter">
	  <label><i class="fa fa-moon-o"></i></label>
	</div>

	<div class="nav-search">
	  {% include search-form.html %}
	</div>
</div>