<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{{site.baseurl}}/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Hyphenator/5.0.1/Hyphenator.js"></script>
	<title>America se trama</title>
	<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/mixitup.js"></script>
</head>
<body>

<div class="top-bar">
	{% include logo.html %}
	<nav>
    <a href="/uni/espiritualidad/">Categorias</a>
    <a href="/uni/tramas/">Trama completa</a>
    <a style="color: #999; float: right;"> {{ site.time | date_to_string }} </a>
	</nav>
	<!-- Place this tag where you want the button to render. -->
	<div class="github-ama">
		<span>
			Proyecto Libre
		</span>
		<a class="github-button" href="https://github.com/ama-trama/uni" data-count-href="/ama-trama/uni/stargazers" data-count-api="/repos/ama-trama/uni#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ama-trama/uni on GitHub">Star</a>
	</div>
</div>




<div class="main-container">

	{{content}} 
</div>

        <script>
            var containerEl = document.querySelector('.container');
            var mixer = mixitup(containerEl);
        </script>

        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>


<script id="dsq-count-scr" src="//ama-trama.disqus.com/count.js" async></script>
<script type="text/javascript">
        Hyphenator.run();
</script>
</body>
</html>

